header {
  min-height: 120px;
}

.header_logo{
    min-width: 276px;
}

.phone_ico {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: url(../img/phone-call.png);
}